<?xml version="1.0" encoding="UTF-8"?>
<controller>
	<action>
		<name>ShowAllProducts.do</name>
		<class>Models.ActionModels.AllProductsAction</class>
		<success>/WEB-INF/index.jsp</success>
		<failure>/WEB-INF/index.jsp</failure>
		<param>none</param>
	</action>
	<action>
		<name>ShowAllLaptops.do</name>
		<class>Models.ActionModels.ProductCategoryAction</class>
		<success>/WEB-INF/index.jsp</success>
		<failure>/WEB-INF/index.jsp</failure>
		<param>L</param>
	</action>
	<action>
		<name>ShowAllUltrabooks.do</name>
		<class>Models.ActionModels.ProductCategoryAction</class>
		<success>/WEB-INF/index.jsp</success>
		<failure>/WEB-INF/index.jsp</failure>
		<param>U</param>
	</action>
	<action>
		<name>ShowAllTablets.do</name>
		<class>Models.ActionModels.ProductCategoryAction</class>
		<success>/WEB-INF/index.jsp</success>
		<failure>/WEB-INF/index.jsp</failure>
		<param>T</param>
	</action>
	<action>
		<name>ShowProductDetails.do</name>
		<class>Models.ActionModels.ProductDetailsAction</class>
		<success>/WEB-INF/productDetails.jsp</success>
		<failure>/WEB-INF/index.jsp</failure>
		<param>T</param>
	</action>
	<action>
		<name>ViewCart.do</name>
		<class>Models.ActionModels.ViewCartAction</class>
		<success>/WEB-INF/viewCart.jsp</success>
		<failure>/WEB-INF/index.jsp</failure>
		<param>none</param>
	</action>
	<action>
		<name>AddToCart.do</name>
		<class>Models.ActionModels.CartAddAction</class>
		<success>/WEB-INF/viewCart.jsp</success>
		<failure>/WEB-INF/productDetails.jsp</failure>
		<param>none</param>
	</action>
	<action>
		<name>UpdateCart.do</name>
		<class>Models.ActionModels.CartUpdateAction</class>
		<success>/WEB-INF/viewCart.jsp</success>
		<failure>/WEB-INF/viewCart.jsp</failure>
		<param>none</param>
	</action>
	<action>
		<name>LogIn.do</name>
		<class>Models.ActionModels.LogInAction</class>
		<success>/WEB-INF/index.jsp</success>
		<failure>/WEB-INF/index.jsp</failure>
		<param>none</param>
	</action>
	<action>
		<name>LogOut.do</name>
		<class>Models.ActionModels.LogOutAction</class>
		<success>/ShowAllProducts.do</success>
		<failure>/WEB-INF/index.jsp</failure>
		<param>none</param>
	</action>
	<action>
		<name>VerifyOrder.do</name>
		<class>Models.ActionModels.VerifyOrderAction</class>
		<success>/WEB-INF/verifyOrder.jsp</success>
		<failure>/WEB-INF/viewCart.jsp</failure>
		<param>none</param>
	</action>
	<action>
		<name>PlaceOrder.do</name>
		<class>Models.ActionModels.PlaceOrderAction</class>
		<success>/WEB-INF/orderConfirmation.jsp</success>
		<failure>/WEB-INF/verifyOrder.jsp</failure>
		<param>none</param>
	</action>
	<action>
		<name>OrderHistory.do</name>
		<class>Models.ActionModels.OrderHistoryAction</class>
		<success>/WEB-INF/orderHistory.jsp</success>
		<failure>/WEB-INF/userInfo.jsp</failure>
		<param>none</param>
	</action>
	<action>
		<name>ViewUserInfo.do</name>
		<class>Models.ActionModels.UserInfoAction</class>
		<success>/WEB-INF/userInfo.jsp</success>
		<failure>/ShowAllProducts.do</failure>
		<param>none</param>
	</action>
	<action>
		<name>UpdateCustomer.do</name>
		<class>Models.ActionModels.UpdateCustomerAction</class>
		<success>/WEB-INF/userInfo.jsp</success>
		<failure>/WEB-INF/userInfo.jsp</failure>
		<param>none</param>
	</action>
	<action>
		<name>RegisterCustomer.do</name>
		<class>Models.ActionModels.RegisterCustomerAction</class>
		<success>/WEB-INF/userInfo.jsp</success>
		<failure>/registration.jsp</failure>
		<param>none</param>
	</action>
	<action>
		<name>DeleteCustomer.do</name>
		<class>Models.ActionModels.DeleteCustomerAction</class>
		<success>/ShowAllProducts.do</success>
		<failure>/WEB-INF/userInfo.jsp</failure>
		<param>none</param>
	</action>
	<action>
		<name>DeleteItem.do</name>
		<class>Models.ActionModels.CartDeleteItemAction</class>
		<success>/WEB-INF/viewCart.jsp</success>
		<failure>/WEB-INF/viewCart.jsp</failure>
		<param>none</param>
	</action>
</controller>